/*sensible default*/
html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/*sensible default*/
*{
    box-sizing: border-box;
}

/*center header text*/
.pageHeader{
    text-align: center;
    margin: 25px 0px;
    /*change font here*/
}

/*set background color. set text color. set height of block to 100%*/
.bodyMainCont{
    background-color: rgb(20, 24, 66);
    height: 100%;
    color:white;
}

/*Sets a white border. Sets size of element to 15% of the total width. Centers on webpage. Sets position to relative so children elements can be manipulated*/
.scoreboard{
    border: solid white 2px;
    width: 150px;
    margin: auto;
    position: relative;
}

/*Centers text within element.*/
.gameCount{
    text-align: center;
    margin: 10px 0px;
    font-size: 40px;
}

/*.user & .comp set position to absolute, allowing it to be moved relative to the parent elements position. sets background color to red. adjusts padding on left and right of the user & comp text on webpage.*/
.user{
    position: absolute;
    left: -15%;
    bottom:45%;
    background-color:rgb(223, 63, 63);
    padding: 0px 5px;
}

/*See previous note.*/
.comp{
    position: absolute;
    left: 85%;
    bottom:45%;
    background-color:rgb(223, 63, 63);
    padding: 0px 5px;
}

/*Centers outcome/results text below the scoreboard element.*/
.outcomeText{
    text-align:center;
    /*change font here*/
}

/*display sets elements to display flex, allowing us to manipulate it's children elements. flex-wrap sets elements to reposition within the contain so the children elements aren't distorted when browser is resized. justify-content sets even space between elements and edges of container. Sets container to be 33% of the web pages width. margin auto centers the element in the middle of page.*/
.userChoiceCont{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    width: 33%;
    margin: auto;
}

/*Sets a solid white border to be circular instead of square. Limits size to 100x100px. sets overflow to hide anything that doesn't fit within the container*/
.userChoice{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: solid white 2px;
    margin: auto;
    overflow:hidden;
}

/*Margin removes any margin from elements and centers the item. margin-left and margin-top position the elements within the parent container/element. height and width sets size of image.*/
.imgStyle{
    margin: 0 auto;
    margin-left: -25%;
    margin-top: -25%;
    height:150%;
    width:150%;

}

/*centers text and sets font to bold.*/
.makeYourMove{
    text-align:center;
    font-weight: bold;
}
